@font-face {
    font-family: 'Fast';
    src: url('./fonts/Ubuntu-Bold.ttf');
  }

 body {
    padding: 0px;
    margin: 0px;
    font-family: 'Fast';
  }

 a{
    text-decoration: none;
    color: #ffffff;
 }

 strong.orange{
    color:#ffc100;
 }
  
 header{
    position: sticky;
    top: 0;
    left: 0;
 }
 .headerContent {
    // position:sticky;
    width: 100%;
    // top: 0;
    // left: 0;
    .header{
        background-color: rgb(0, 0, 0);
        color: white;
        padding: 5px 15vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .buttons {
            display: flex;
            a{
                margin: 0px 15px;
                transition:color 1s ease;
                color: white;
                text-transform: uppercase;
                &:hover {
                    transition:color .6s ease;
                    color: #ffc100;
                }
            }
        }
    }
      
 }
.logoContent {
    .logoTitle{
        background-image: url("./img/Taksi.jpg");
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        .title{
            width: 800px;
            height: 550px;
            display: flex;
            align-items: center;
            margin: 0px;
            font-size: 76px;
            color: #ffffff;
            text-align: center;
            font-family: monospace;
        }
    }
}
.aboutContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    font-family:monospace;
    margin-top: 90px;
    .title{
        width: 900px;
        text-align: center;
        h3{
            font-size: 50px;
        }
        p{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 3px solid #ffc100;
            padding-bottom: 30px;

            img{
                margin:0px 50px;
            }
        }
    }
}
.waysContent {
    margin-top: 50px;
    padding-bottom: 80px;
    padding-top: 40px;
    color: #ffffff;
    background-color: rgb(17, 17, 17);
    font-family: monospace;
    font-size: 35px;
    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .title {
            font-size: 50px;
        }
        .wayList {
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            p{
                padding: 0px 100px;
                border-left: 5px dashed rgb(255, 255, 255);
                border-right: 5px dashed rgb(255, 255, 255);
            }
            p:nth-child(2n){
                color:#ffc100;
                a{
                    color: #ffc100;
                }
            }
            a{
                border: none;
                transition: border 0.3s ease-in-out;
            }
            a:hover{
                border-bottom: 10px solid;
            }
        }
    }
}

.contactContent {
    font-size: 30px;
    .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:end;
        margin-top: 90px;
        margin-bottom: 90px;
        
        .orange{
            margin: 0px 20px;
            padding: 5px 10px;
            border-bottom: 3px solid black;
        }
        a{
            color: #ffc100;
        }
    }
}

footer{
    font-family:monospace;
    font-size: 8px;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(17, 17, 17);
}


// media tags
@media(max-width:900px){
    .logoContent {
        .logoTitle{
            .title{
                font-size: 50px;
            };
        };
    };
    .headerContent {
        .header{
            padding: 10px 30px;
            .buttons {
                font-size: 15px;
                };
            };
        };
          
    .aboutContent{
        .title{
            font-size: 20px;
            width: 600px;
        };
    };
    .waysContent{
        .content{
            .wayList{
                p{
                    font-size: 30px;
                    padding: 20px;
                };
            };
        };
    };
};

@media(max-width:605px){
    .headerContent {
        .header{
            padding: 10px 30px;
            .logo{
                font-size: 10px;
            }
            .buttons {
                font-size: 10px;
                };
            };
        };
          
    .aboutContent{
        .title{
            font-size: 15px;
            width: 450px;
            h3{
                font-size: 40px
            }
        };
    };
    .waysContent{
        .content{
            .wayList{
                p{
                    font-size: 20px;
                    padding: 10px;
                };
            };
        };
    };

    .contactContent {
        .contact {  
            h2{
                font-size: 30px;
            };
            h3{
                font-size: 20px;
            };
        }
    }
    footer{
        font-size: 5px;
    }
};

@media(max-width:480px){
    .headerContent {
        .header{
            padding: 10px 30px;
            .logo{
                font-size: 10px;
            }
            .buttons {
                font-size: 10px;
                };
            };
        };
          
    .aboutContent{
        margin: 50px;
        .title{
            .aboutLogo{
                margin: 10px;
                width:40px;
            }
            font-size: 15px;
            width: 250px;
            h3{
                font-size: 30px
            }
        };
    };
    .waysContent{
        .content{
            .title{
                h3{
                    font-size: 40px;
                }
            }
            .wayList{
                p{
                    font-size: 15px;
                    padding: 10px;
                };
            };
        };
    };

    .contactContent {
        .contact {  
            h2{
                font-size: 30px;
            };
            h3{
                font-size: 20px;
            };
        }
    }
    footer{
        font-size: 5px;
    }
};

@media(max-width:450px){
    .logoContent {
        .logoTitle{
            .title{
                font-size: 30px;
            };
        };
    };
    .headerContent {
        .header{
            display: flex;
            justify-content: center;
            padding: 10px 10px;
            .logo{
                display: none;
                font-size: 10px;
            }
            .buttons {
                font-size: 10px;
                };
            };
        };
          
};

@media(max-width:405px){
    .contactContent {
        .contact {  
            h2{
                font-size: 20px;
            };
            h3{
                font-size: 18px;
            };
            .orange{
                border-bottom: 2px solid black
            }
        }
    }
};